<!-- display movies: titles, images, see more-link on this site-->
<% for( let index = 0; index < movies.length; index +=1 ) { %>
    <h3><%-movies[index].title%></h3>
    <img src="<%=movies[index].image %>" height="200px">
       
    
<% } %>